
Vote recorded!

Another Random Kitteh!
<br>
<img src=<%=@source%>>
<br>
<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Another Kitteh?">
</FORM>

<form action="/vote" method="post">
  <input type="submit" name="cast" value="Cat">
  <input type="submit" name="cast" value="Not">
</form>
